/* html, body {
  height: 100%;
  margin: 0;
  background-color: white /* 노란색 */
  /* }

.body {
      background-color: #797979;
      max-width: 480px;
      margin: 0 auto;
      padding: 20px;
      font-family: 'Pretendard', sans-serif;
      box-sizing: border-box;
    } */ */

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }

    body {
      max-width: 480px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 20px;
      padding: 20px;
      background-color: #FFFfff;
      box-sizing: border-box;
    }

    .container {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        background-color: #FFFDE7;
        min-height: 100vh;
        padding: 20px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .logo {
      width: 180px;
      margin-top: 30px;   
      margin-bottom: 30px;
    }

    .number-input {
      padding: 10px 5px;
      font-size: 16px;
      width: 220px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
    }

    .submit-btn {
      margin-top: 20px;
      padding: 10px 5px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }

    .submit-btn:hover {
      background-color: #555;
    }

/* .sub-title {
  font-size: 20px;
  font-weight: middle;
  text-decoration: none;
  color: black;
  align-items: center;
} */

.top-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px; 
  box-sizing: border-box;
}

.back-btn {
  position: absolute;          
  left: 8px;
  font-size: 24px;
  cursor: pointer;
}

.back-btn:active {
  font-weight: 700; /* 눌렸을 때 굵게 */
}

.sub-title {
  font-size: 20px;
  margin: 0;
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

form {
  width: 100%;
}

.form-group {
  width: 100%;
}

.number-input {
  width: 100%;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.input-guide {
    font-size: 10px;
  color: #777;
  margin-top: 4px;
  text-align: center;
  width: 100%; 
}

.caption {
    font-size: 10px;
  color: #777;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-weight: light; 
}

