html, body {
  height: 100%;
  margin: 0;
  background-color: #FFFFFF
  }

body {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  }

.top-bar {
  position: relative;           /* 뒤로가기 버튼과 텍스트 배치용 */
  display: flex;
  justify-content: center;      /* 중앙 기준으로 텍스트 정렬 */
  align-items: center;
  background-color: #FFFDE7;
  padding: 15px;
  border-bottom: 1px solid #ccc; /* 하단 선 */
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 800;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 90px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  align-items: center;
}

.login-btn {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.search-bar {
  width: 100%;
  max-width: 420px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.search-bar button {
  padding: 10px 18px;
  background-color: #625B71;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-buttons { /* 현재 상태 버튼 3개 */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px auto;
}

.notification { 
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  background:#FFF89C;
  border: 1px solid #000000;
  box-shadow: 2px 3px 6px rgba(29, 25, 43, 0.4);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  color: #1E1E1E;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  position: relative;
  transition: background 0.3s ease;
}

.notification:hover {
  background: #E3F2FD;
}

.notification .badge {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-55%, -40%);
  padding: 8px 15px;
  border-radius: 50%;
  background: #FFF89C;
  color: #000000;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}
/*권css*/
.notification .unit {
  position: absolute;
  top: 54%;
  left: 60%;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  z-index: 2;
}

.notification .line {
  position: absolute;
  top: 62%;
  left: 20%;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  z-index: 2;
  transition: background 0.6s ease;
}

.notification:hover .line {
  opacity: 0;
}

/*배너*/
.banner-card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.banner-card a {
  display: block;
}

.banner-image {
  width: 100%;
  max-width: 420px;
  height: auto;
  display: block;
}

/*요소 사이 여백*/
.section-wrapper {
  margin-bottom: 15px; 
}
.note {
  margin-bottom: 15px; 
}

.bottom-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

/*하단 게시글들*/
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.plus-button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.card {
  background:  #FFFDE7;
  border: 1.7px solid #000000;
  box-shadow: 1px 2px 5px rgba(29, 25, 43, 0.1);
  border-radius: 10px;
  padding: 12px;
}

.bottom-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
/*테이블 셀*/
.board-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
/*테이블 제목텍스트*/
.board-table .title {
  color:  #625B71;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.board-table tr:last-child td {
  border-bottom: none;
}
